*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  background-image: url("texture.jpg");
  background-repeat: repeat;
  margin-top: 2.5%;
  font-family: 'Quicksand', sans-serif;
}

header{
  width: 95%;
  height: 300px;
  margin: auto;
  border: 10px solid #f9f9f9;
  background-image: url("forest.jpg");
  background-size: cover;
  position: relative;
}

.opacity{
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity:0.5;
}

.titolo_icona{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid #f9f9f9;
  padding: 10px 15px;
  font-size: 25px;
  color: #f9f9f9;
}

.icon_big{
  color: #f9f9f9;
  font-size: 45px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%,-23%);
}

.icon_small_sx{
  color: #f9f9f9;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%,-10%);
}

.icon_small_dx{
  color: #f9f9f9;
  font-size: 25px;
  position: absolute;
  top: 100%;
  left: 140%;
  transform: translate(-140%,-100%);
}

nav{
  background-color: #514337;
  height: 50px;
  width: 95%;
  margin: auto;
}

ul {
  text-align: center;
}

li {
  border-right: 1px solid black;
  padding: 15px 15px;
  display: inline-block;
}

li:last-child {
  border-right: none;
}

.menu a{
  color:#f9f9f9;
}

.menu a:hover{
  color: gray;
}

.colonna_sx,
.colonna_cent,
.colonna_dx,
.colonna_dx_2{
  font-size: 15px;
  float: left;
  background-color: #f9f9f9;
  padding: 20px 15px;
}

.colonna_sx{
  width: 20%;
}

.rss{
  color: orange;
  font-size: 15px;
}

.colonna_sx,
.colonna_dx{
  margin: 2.5% 2.5%;
}

.colonna_cent{
  width: 40%;
  margin-top: 2.5%;
}

.colonna_dx,
.colonna_dx_2{
  width: 30%;
}

.colonna_dx_2{
  margin-left: 2.5%;
}

a{
  text-decoration: none;
}

.colonna_sx > a{
  color: #b1e24f;
}

.colonna_sx > a:hover{
  color: grey;
}

.colonna_sx > a:active{
  color: blue;
}

.colonna_cent a:visited,
.colonna_dx_2 a:visited{
  color: #b1e24f;
}

.colonna_cent a:hover,
.colonna_dx_2 a:hover{
  color: grey;;
}

.colonna_cent a:active,
.colonna_dx_2 a:active{
  color: blue;
}
